@page
@model FilmCatalog.Pages.PostConfirmModel
@{
}
<div class="text-center">
    <h4 class="m-3">@Model.Message</h4>
    <a asp-page="@Model.ReturnUrl" class="btn btn-success">
        OK
    </a>
</div>
